<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
        integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <a href="/" class="navbar-brand">たにやまショッピング</a>
  <ul class="nav navbar-nav pull-md-right">
    <li class="nav-item">
      <a href="/cart" class="nav-link">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        カート
      </a>
    </li>
  </ul>
</nav>

<div class="app-content">
  <div class="container">
    <h1>購入手続きが完了しました</h1>

    <a href="/" class="btn btn-primary">トップページに戻る</a>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"></script>
</body>
</html>
