<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>都道府県リスト</h1>
    <p>kintone アプリから取得しています</p>
    <ul>
      <% for (const pref of prefectures) { %>
        <li><%= pref.name %></li>
      <% } %>
    </ul>
  </body>
</html>
