.jumbotron h1, .jumbotron p {
  text-align: center;
}

.jumbotron {
  color: #02EFC7;
  background: center url(../images/image.jpg);
}

.app-content {
  padding-top: 5rem;
}

.app-item-price {
  color: #ee0000;
  font-weight:bold;
}
